# Angular cache
.angular/

# Build output
dist/
tmp/
out-tsc/

# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

